<cruisecontrol xmlns:cb="urn:ccnet.config.builder" xmlns="http://thoughtworks.org/ccnet/1/7">
  <!-- Local configuration, if any
         This configuration can predefine the following elements:
           - MainDir
           - WebURL
  -->
  <cb:if expr="File.Exists('./ccnet.config.local')">
    <cb:include href="./ccnet.config.local" />
  </cb:if>
  
  <!-- Global configuration -->
  <cb:ifndef name="MainDir">
    <cb:define MainDir="c:\Prog\build_auto" />
  </cb:ifndef>
  <cb:define SourcesDir="$(MainDir)\sources" />
  <cb:define LogsDir="$(MainDir)\logs" />
  <cb:define ArtifactsDir="$(MainDir)\artifacts" />
  <cb:define WorkingDir="$(MainDir)\working" />
  <cb:define StateDir="$(MainDir)\state" />
  <cb:define CCNetDir="c:\program files (x86)\CruiseControl.Net" />
  <cb:define SVN_URL_JCL="https://jcl.svn.sourceforge.net/svnroot/jcl/trunk/jcl" />
  <cb:define SVN_URL_JVCL="https://jvcl.svn.sourceforge.net/svnroot/jvcl/trunk/jvcl" />
  <cb:define SVN_User="" />
  <cb:define SVN_Password="" />
  <cb:define SVN_CommitUser="" />
  <cb:define SVN_CommitPassword="" />
  <cb:define SVN_ExePath="c:\program files (x86)\subversion\bin" />
  <cb:ifndef name="WebURL">
    <cb:define WebURL="http://localhost/ccnet/server/local" />
  </cb:ifndef>

  <cb:define name="ContinuousEmailUsers">
    <!--<user name="obones" group="buildmaster" address="obones@users.sourceforge.net" />-->
    <user name="list" group="buildmaster" address="projectjedi-automatic-builds@lists.sourceforge.net" />
  </cb:define>
  
  <!-- Block for SVN options -->
  <cb:define name="SVN_options">
    <workingDirectory>$(SourcesDir)\$(SourcesSubDir)</workingDirectory>
    <username>$(SVN_User)</username>
    <password>$(SVN_Password)</password>
    <executable>$(SVN_ExePath)\svn.exe</executable>
    <authCaching>None</authCaching>
    <timeout units="minutes">40</timeout>
    <!--
    <webUrlBuilder type="websvn">
      <url>$(SVN_WebSVNBaseURL)/revision.php?repname=$(SVN_RepositoryName)&amp;isdir=1&amp;rev={1}</url>
    </webUrlBuilder>
    -->
    <!--<deleteObstructions>true</deleteObstructions>-->
    <forceUpdate>true</forceUpdate>
    <!--<checkExternals>true</checkExternals>--> 
    <cb:SVN_ExtraOptions />
  </cb:define>
  
  <!-- Block for email sending -->
  <cb:define name="EmailPublisher_base">
    <email includeDetails="true">
      <from>buildmaster@project-jedi.org</from>
      <mailhost>smtp.obones.com</mailhost>
      <mailhostUsername>olivier@obones.com</mailhostUsername>
      <mailhostPassword>olibones</mailhostPassword>
      <users>
        <cb:Users />
      </users>
      <groups>
        <group name="developers">
          <notifications>
            <notificationType>Failed</notificationType>
            <notificationType>Fixed</notificationType>
          </notifications>
        </group>
        <group name="projectmanagers">
          <notifications>
            <notificationType>Failed</notificationType>
            <notificationType>Fixed</notificationType>
          </notifications>
        </group>
        <group name="buildmaster">
          <notifications>
            <notificationType>Always</notificationType>
          </notifications>
        </group>
        <group name="dropped">
          <notifications>
            <notificationType>Exception</notificationType>
          </notifications>
        </group>
      </groups>
      <converters>
        <regexConverter find="$" replace="@sourceforge.net" />
      </converters>
      <xslFiles>
        <xslFile>xsl\header.xsl</xslFile>
        <xslFile>xsl\jedi_all.xsl</xslFile>
        <xslFile>xsl\buildresults-jedi.xsl</xslFile>
        <xslFile>xsl\modifications.xsl</xslFile>
      </xslFiles>
      <cb:ExtraOptions />
    </email>
  </cb:define>
    
  <cb:define name="EmailPublisher">
    <cb:scope>
      <cb:define name="ExtraOptions">
        <modifierNotificationTypes>
          <NotificationType>Failed</NotificationType>
          <NotificationType>Fixed</NotificationType>
        </modifierNotificationTypes>
      </cb:define>
      <cb:EmailPublisher_base />
    </cb:scope>
  </cb:define>
  
  <cb:define name="ExecInstaller">
    <exec>
      <description>Deleting previous result xml file in $(SourcesSubDir)</description>
      <executable>c:\windows\system32\cmd</executable>
      <buildArgs>/c del $(SourcesDir)\$(SourcesSubDir).xml</buildArgs>
      <baseDirectory>$(SourcesDir)\$(SourcesSubDir)</baseDirectory>
      <successExitCodes>0,1</successExitCodes>
    </exec>
    <exec>
      <description>Running installer in $(SourcesSubDir)</description>
      <executable>c:\windows\system32\cmd</executable>
      <buildArgs>/c $(SourcesDir)\$(SourcesSubDir)\install.bat $(InstallerParameters)</buildArgs>
      <baseDirectory>$(SourcesDir)\$(SourcesSubDir)</baseDirectory>
      <buildTimeoutSeconds>3600</buildTimeoutSeconds>
      <successExitCodes>0,1</successExitCodes>
    </exec>
    <conditional>
      <conditions>
        <fileExistsCondition file="$(SourcesDir)\$(SourcesSubDir).xml" />
      </conditions>
      <tasks>
        <merge>
          <files>
            <file>$(SourcesDir)\$(SourcesSubDir).xml</file>
          </files>
        </merge>
      </tasks>
      <elseTasks>
        <nullTask simulateFailure="true" simulateFailureMessage="$(SourcesDir)\$(SourcesSubDir).xml was not generated, looks like a severe issue with the installer" />
      </elseTasks>
    </conditional>
  </cb:define>

  <cb:define name="JCL_SourceControl">
    <svn>
      <cb:scope SourcesSubDir="jcl">
        <cb:define name="SVN_ExtraOptions">
          <cleanUp>true</cleanUp>
          <trunkUrl>$(SVN_URL_JCL)</trunkUrl>
        </cb:define>
        <cb:SVN_options />
      </cb:scope>
    </svn>
  </cb:define>
  
  <cb:define name="JVCL_SourceControl">
    <svn>
      <cb:scope SourcesSubDir="jvcl">
        <cb:define name="SVN_ExtraOptions">
          <cleanUp>true</cleanUp>
          <trunkUrl>$(SVN_URL_JVCL)</trunkUrl>
        </cb:define>
        <cb:SVN_options />
      </cb:scope>
    </svn>
  </cb:define>
  
  <cb:define name="JCL_ExecInstaller">
    <cb:scope SourcesSubDir="jcl" InstallerParameters="/ContinueOnTargetError /AutoAcceptMPL /AcceptInformations /AcceptConfirmations /AcceptWarnings /AcceptErrors /CloseOnFailure /CloseOnSuccess /Install &quot;/XMLResult=$(SourcesDir)\$(SourcesSubDir).xml&quot; /IncludeLogFilesInXML /DeletePreviousLogFiles">
      <cb:ExecInstaller />
    </cb:scope>
  </cb:define>
  
  <cb:define name="JVCL_ExecInstaller">
    <cb:scope SourcesSubDir="jvcl" InstallerParameters="--ignore-ide --autoinstall --forceinstall --build --autoclose --autoclose-error --continue-on-error &quot;--XMLResult=$(SourcesDir)\$(SourcesSubDir).xml&quot; --delete-previous-log-files --include-log-files-in-XML">
      <cb:ExecInstaller />
    </cb:scope>
  </cb:define>
      
  <cb:define name="JCL_CleanUp">
  </cb:define>

  <cb:define name="JVCL_CleanUp">
    <exec>
      <description>Reverting changes in jvcl</description>
      <executable>$(SVN_ExePath)\svn.exe</executable>
      <buildArgs>revert "$(SourcesDir)\jvcl" --depth=infinity</buildArgs>
      <baseDirectory>$(SourcesDir)\jvcl</baseDirectory>
      <successExitCodes>0</successExitCodes>
    </exec>
  </cb:define>

  <!-- **********************************************************************************************
                               CruiseControl Projects (base)
       ********************************************************************************************** -->
  <!-- Continuous build project during the day (base) -->
  <cb:define name="project_base">
    <cb:ifndef name="ScheduleTriggers">
      <cb:define name="ScheduleTriggers" />
    </cb:ifndef>
    <cb:ifndef name="Users">
      <cb:define name="Users" />
    </cb:ifndef>
    
    <project name="$(build_name)" queue="AllProjectsQueue">
      <category>$(category)</category>
      <description>$(build_name) Build</description>
      <artifactDirectory>$(ArtifactsDir)\$(build_name)</artifactDirectory>
      <workingDirectory>$(WorkingDir)\$(build_name)</workingDirectory>
      <state type="state" directory="$(StateDir)" />
      <webURL>$(WebURL)/project/$(build_name)/ViewLatestBuildReport.aspx</webURL>
      <prebuild>
      </prebuild>
      <sourceControlErrorHandling>ReportOnRetryAmount</sourceControlErrorHandling>
      <maxSourceControlRetries>5</maxSourceControlRetries>
      <stopProjectOnReachingMaxSourceControlRetries>true</stopProjectOnReachingMaxSourceControlRetries>
      <sourcecontrol type="multi">
        <sourceControls>
          <cb:SourceControls/>
        </sourceControls>
      </sourcecontrol>
      <tasks>
        <cb:Tasks />
      </tasks>
      <publishers>
        <xmllogger logDir="$(LogsDir)\$(build_name)" />
        <cb:scope>
          <cb:EmailPublisher />
        </cb:scope>
        <cb:ExtraPublishers />
      </publishers>
      <triggers>
        <cb:ScheduleTriggers />
      </triggers>
    </project>
  </cb:define>
  
  <cb:define name="continuous_base">
    <cb:scope category="Automatic">
      <cb:define name="ScheduleTriggers">
        <scheduleTrigger time="01:40" name="Scheduled" />
      </cb:define>
      <cb:define name="Users">
        <cb:ContinuousEmailUsers />
      </cb:define>
      <cb:project_base />
    </cb:scope>
  </cb:define>
  
  <!-- **********************************************************************************************
                               CruiseControl Projects
       ********************************************************************************************** -->
  <cb:scope build_name="Continuous">
    <cb:define name="SourceControls">
      <cb:JCL_SourceControl />
      <cb:JVCL_SourceControl />
    </cb:define>
    <cb:define name="Tasks">
      <cb:JCL_ExecInstaller />
      <cb:JVCL_ExecInstaller />
    </cb:define>
    <cb:define name="ExtraPublishers">
      <cb:JCL_CleanUp />
      <cb:JVCL_CleanUp />
    </cb:define>
    <cb:continuous_base />
  </cb:scope>
  
  <cb:scope build_name="JCL only" category="Manual">
    <cb:define name="SourceControls">
      <cb:JCL_SourceControl />
    </cb:define>
    <cb:define name="Tasks">
      <cb:JCL_ExecInstaller />
    </cb:define>
    <cb:define name="ExtraPublishers">
      <cb:JCL_CleanUp />
    </cb:define>
    <cb:project_base />
  </cb:scope>
  
  <cb:scope build_name="JVCL only" category="Manual">
    <cb:define name="SourceControls">
      <cb:JVCL_SourceControl />
    </cb:define>
    <cb:define name="Tasks">
      <cb:JVCL_ExecInstaller />
    </cb:define>
    <cb:define name="ExtraPublishers">
      <cb:JVCL_CleanUp />
    </cb:define>
    <cb:project_base />
  </cb:scope>
  
</cruisecontrol>